@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
input::-ms-input-placeholder { color: #000; }
input::-webkit-input-placeholder { color: #000; }
input::-moz-placeholder { color: #000; }
.logincover{
    margin: 0 auto; 
    width: 60vw;
}
.logintitle{
    font-family: 'Jua', sans-serif;
    font-size:40px;
}
#loginBtn{
    width: 100px;
    height:30px;
    font-size:16px;
    font-weight: bold;
    border:none;
    border-radius:5px;
    background-color: rgba(59, 163, 155, 0.845);
}

#userId{
    height:40px;
    width:100%;
    margin-top:80px;
    border:none;
    background-color:#4be1d4;
    text-align: center;
    font-size: 16px;
}
#userPass{
    height:40px;
    width:100%;
    margin-top:70px;
    margin-bottom:120px;
    border:none;
    background-color: #4be1d4;
    text-align: center;
    font-size: 16px;
}