@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.product-item{
    margin:0 50px 50px;
    flex:0 0 220px;
}
.item-image {
    width: 130%;
    height:200px;
    margin-left:-31dpx;
  }
  .item-name {
    margin: 5px 0;
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size:28px;
    font-weight:500;
    color:#606060;
  }
  .item-price {
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    color: rgb(221, 16, 16);
  }
  .add-cart-btn{
    cursor: pointer;
    display: flex;
    margin:auto;
    align-items: center;
    margin-top: 8px;
    margin-bottom:40px;
    width:165px;
    padding:3px;
    border: none;
    border-radius: 3px;
    background-color: #01C2E3;
    color: #111;
    font-weight: 1000;
}

